<div class="container">
  <div class="padded">
    <h2 class="text-center"><%= t('.main_title') %></h2>
    <% @my_slots.each do |slot| %>
      <div class="slightly-padded">
        <h4><%= slot.event.name %></h4>
      </div>
    <% end %>
  </div>
</div>
