/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Exo|Homenaje'); // was also thinking of "|Kelly+Slab"
$base-font: "Exo", "Helvetica", "sans-serif";
$header-font: "Homenaje", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 18px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #2D7D5D;
$brand-light: #7EB8A1;
$brand-dark: #166445;
$brand-darker: #03462B;
$facebook-blue: #3b5998;
$facebook-blue-light: #4D75C6;
$linkedin-blue: #0077B5;
$linkedin-blue-light: #00A0DC;

$dark-red: #BF0E0E;
$delete-red: #EE5F5B;
$light-pink: #FFCBCB;
$red: #A81010;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #969696;
$gray-lighter: #E8E8E8;
$dark-gray: #2E2C2F;

$footer-gray: #151515;
