<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-events"><%= link_to "Events", casein_events_path %></li>
<li id="tab-users"><%= link_to "Users", casein_users_path %></li>
<li id="tab-slots"><%= link_to "Slots", casein_slots_path %></li>
