<div id="custom-popup" style="display: none">
  <div id="popup-content"></div>
  <a class="popup-close-button" onclick="javascript:$('#custom-popup').slideUp();">
    <i class="fa fa-times"></i>
  </a>
</div>
