<div id="mobile-footer-text" class="hidden-sm hidden-md hidden-lg">
  <p class="no-margin"><%= t(".follow_us_on") %></p>
</div>

<div>
  <%= link_to "https://facebook.com/thelisbonvr" do %>
    <div id="facebook">
      <i class="fa fa-facebook"></i>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "https://instagram.com/thelisbonvr" do %>
    <div id="instagram">
      <i class="fa fa-instagram"></i>
    </div>
  <% end %>
</div>
