<div class="container">
  <div class="padded">
    <h2><%= t('.main_title') %></h2>
    <% @events.each do |event| %>
      <p><%= event.name %> - <%= link_to t(".show_button"), event_path(event)%></p>

    <% end %>
  </div>
</div>
