<!-- Form for reservations: -->
<div class="wrapper">
  <div id="banner-form" class="text-center">
    <h2>Reservas, Dúvidas, Sugestões?</h2>
    <p>Contacte-nos através do seguinte formulário.</p>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form action="https://formspree.io/diogofgr@gmail.com" method="POST" class="form">
        <!-- IMPORTANT - When in testing use /the-lisbon-vr/thanks.html: -->
          <input type="hidden" name="_next" value="/thanks.html" />
          <input type="hidden" name="_subject" value="New submission!" />
          <input id="name" type="text" name="name" placeholder="Nome (primeiro e último)" class="form-field">
          <input id="phone-number" type="text" name="phone-number" placeholder="Telemóvel" class="form-field">
          <input type="text" name="_replyto" placeholder="exemplo@email.com" class="form-field"/>
          <textarea name="message" id="" cols="30" rows="10" placeholder="A sua mensagem..." class="form-field mg-left"></textarea>
          <!-- honepot to fool bots: -->
          <input type="text" name="_gotcha" style="display:none" />
          <input id="btn-submit-contact" type="submit" value="Enviar" class="btn btn-lg btn-success form-field">
        </form>
      </div>
    </div>
  </div>
</div>
