<div class="wrapper">
  <div class="banner">
    <div class="container">
      <div class="banner-content">
        <div class="slightly-padded">
          <div class="fadeIn"><%= image_tag("thelisbonvr-logo-white-transparent.png", alt: "Logo") %></div>
          <h1 class="fadeIn"><%= t(".main_header") %></h1>
        </div>
        <div class="slightly-padded">
          <%= link_to t(".main_button"), about_path, class: "btn btn-home-page-large" %>
        </div>
      </div>
    </div>
  </div>
</div>
