/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding: 5em 0;
}

.slightly-padded {
  padding: 1.5em 0;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#wrapper {
  min-height:100%;
  position:relative;
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
}
#page-content {
  padding-bottom: 70px; /* Height of the footer element */
}
body {
  background-color: $dark-text !important;
}
