<h2><%= "#{@user.first_name} #{@user.last_name}" %>'s Bookings</h2>


<% if !@user.slots.empty? %>
  <%= render partial: 'casein/slots/table', locals: { slots: @slots } %>
<% else %>
  <p>This user hasn't booked anything yet.</p>
<% end %>

<%= content_for :sidebar do %>

<li><%= link_to "#{casein_show_icon "th-list"}Back to users list".html_safe, casein_users_path %></li>

<% end %>
