/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: none !important;
  font-size: 16px;
}
.alert-info {
  background: rgba(50, 183, 150, 0.8);
}
.alert-warning {
  background: rgba(168, 16, 16, 0.8);
}
