/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: none !important;
  font-size: 16px;
}
.alert-info {
  background: linear-gradient(90deg, rgba(50, 183, 150, 0) 20%, rgba(50, 183, 150, 1) 50%, rgba(50, 183, 150, 0) 80%);
}
.alert-warning {
  background: linear-gradient(90deg, rgba(168, 16, 16, 0) 20%, rgba(168, 16, 16, 1) 50%, rgba(168, 16, 16, 0) 80%);
}
