.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 140px);
  // background-size: cover !important;
  // background-position: center;
  // background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

dark-gradient {
  color: rgba(0,0,0,0.5), rgba(0,0,0,0.7);
}

.diagonal-up{
  height: 90vh;
  transform: skewY(-5deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.diagonal-up-content{
  transform: skewY(5deg);
}

.diagonal-line-up{
  transform: skewY(-5deg);
}
.diagonal-line-down{
  transform: skewY(5deg);
}

.diagonal-cone-opening{
  height: 100vh;
  margin: -90px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.diagonal-down{
  height: 90vh;
  transform: skewY(5deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.diagonal-down-content{
  transform: skewY(-5deg);
}

.with-bg-image{
  background-size: cover !important;
}

.dark-box{
  // padding: 50px;
  background-color: rgba(5, 5, 5, 0.6);
}

.description-padded{
  // padding: 25px;
}


