.btn-facebook,
.btn-facebook:link,
.btn-facebook:visited {
  font-weight: bold;
  padding: 11px 15px;
  border-radius: 10px;
  border: 1px solid $facebook-blue;
  background-color: rgba(77, 117, 198, 0.5);
  color: white;
  transition: all 0.2s ease;
  margin: 5px;
}

.btn-facebook:hover {
  color: white;
  background-color: $facebook-blue;
  transition: all 0.2s ease;
}

.btn-home-page-large {
  border: 1px white solid;
  padding: 11px 32px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: $green-transparent;
  transition: all ease 0.2s;
}

.btn-home-page-large:hover {
  background-color: $green-hover;
  color: white;
  transition: all ease 0.2s;
  text-shadow: 0 0 2px $green;
}

.btn-brand {
  padding: 8px 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease;
  border: 1px white solid;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.2);
  text-shadow: 0 0 2px $footer-gray;
}

.btn-brand:hover {
  background-color: rgba(255,255,255,0.4);
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

.btn-brand-with-bg {
  padding: 8px 20px;
  background-color: $green-transparent;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.btn-brand-with-bg:hover{
  border-color: white;
  color: white;
  background-color: $green-hover;
  transition: all 0.2s ease;
  text-decoration: none;
  text-shadow: 0 0 2px $brand-color;
}

.btn-dangerous {
  padding: 5px 12px;
  background-color: rgba(191, 14, 14, 0.4);
  border-radius: 4px;
  border: solid $red 1px;
  color: $light-pink;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease;
}

.btn-dangerous:hover {
  background-color: rgba(191, 14, 14, 0.8);
  border-color: $dark-red;
  color: white;
  text-decoration: none;
  text-shadow: none;
  transition: all 0.2s ease;
}

.login-form-help-links {
  font-size: 14px;
  color: $gray-lighter;
  float: right;
  transition: all 0.2s ease;
}

.login-form-help-links:hover {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
  text-shadow: 0px 0px 2px $gray;
}

.btn-timeslot,
.btn-timeslot-booked {
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 0;
}

.btn-timeslot {
  background-color: $green-transparent;
}

.btn-timeslot-booked{
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-timeslot:hover {
  background-color: $green-hover;
  text-shadow: 0 0 2px $green;
}

.btn-book {
  color: white;
  font-size: 75%;
}

.btn-booked,
.btn-booked:hover {
  color: $gray;
  font-size: 75%;
  margin: 0;
}

.btn-event-card-top {
  border-radius: 0 0 0 10px;
  border-width: 0 0 1px 1px;
  float: right;
  padding: 5px 20px;
  // position: relative;
  // top: -27px;
  // right: -27px;
}

.btn-event-card-bottom {
  border-radius: 5px 5px 0 0;
  border-width: 1px 1px 0 1px;
  float: left;
  padding: 5px 20px;
  position: relative;
  bottom: 6px;
  text-align: center;
  width: 100%;
}
