.event-card,
.account-bookings-card {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid white;
  margin: 1.5em 0;
}

.account-bookings-card-padding {
  padding: 1.5em;
}

.event-card-padding {
  padding: 1em 1.5em 1.5em 1.5em;
}

.timeslot-card {
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid white;
  padding: 0.5em;
  margin: 0.5em 0;
}

.event-image {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  border-bottom: 1px solid white;
}

.event-image-big {
  height: 70vh;
  // height: 360px;
  // max-width: 640px;
  margin: auto;
}
@media(max-width:767px){.event-image{height:200px;}}


.event-title-on-image {
  display: flex;
  height: inherit;
  align-items: flex-end;
  text-shadow: 0 0 2px $footer-gray;
  padding: 0 1.5em;
}

.event-card-title-background {
  height: inherit;
  width: inherit;
  position: relative;
  top: 15px;
  left: 15px;
  background-color: $footer-gray;
}
